@tailwind base;
@tailwind components;
@tailwind utilities;


/* Reset some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and general styles */

bg-dark{
  background-color: rgb(34, 2, 2);
}

footer {
  background-color: #333;
  text-align: center;
}

.ht-65{
  height: 65vh !important;
}
.w-40per{
  width: 40% !important;
}
.poppins{
  font-family:poppins !important;
}
.mont{
  font-family: Montserrat !important;
}
.w-400px{
  width: 400px !important;
}
.hidescrollbar::-webkit-scrollbar{
  display: none !important;
}
svg{
  height: 100px ;
  width: 100px ;
}
.h-px-100{
  height: 100px !important;
}